{% extends 'ContentUploader/base.html' %}
{% block title %}
Verification Info
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-100" style="display: flex; justify-content: center; align-items: center;">

    <div class="p-5 text-center border my-5" style="border-radius:20px;width:400px;height:250px;background-color:white;display: flex; justify-content: center; align-items: center;">
        <h3>An email has been send to you, Please check your inbox to verify your account.</h3>
    </div>
</div>
{% endblock content %}