{% extends 'ContentUploader/base.html' %}
{% block title %}
    Verification Success
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-100" style="display: flex; justify-content: center; align-items: center;">

    <div class="p-5 text-center border" style="border-radius:20px;width:400px;height:250px;background-color:white;display: flex; justify-content: center; align-items: center;">
        <h3>Your Account has been verified. You can now login</h3>
    </div>
</div>
{% endblock content %}